@charset "UTF-8";
/*  styles for header menu */
/* line 2, ../sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello.eot");
  src: url("../fonts/fontello.eot#iefix") format("embedded-opentype"), url("../fonts/fontello.woff") format("woff"), url("../fonts/fontello.ttf") format("truetype"), url("../fonts/fontello.svg#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
 *  @font-face {
 *    font-family: 'fontello';
 *    src: url('../fonts/fontello.svg?5665803#fontello') format('svg');
 *  }
 *} */
/* line 19, ../sass/_fontello.sass */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes */
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 43, ../sass/_fontello.sass */
.icon-menu:before {
  content: "\e800";
}

/* '' */
/* line 48, ../sass/_fontello.sass */
.icon-chat-empty:before {
  content: "\e801";
}

/* '' */
/* line 53, ../sass/_fontello.sass */
.icon-left-open:before {
  content: "\e802";
}

/* '' */
/* line 58, ../sass/_fontello.sass */
.icon-right-open:before {
  content: "\e803";
}

/* '' */
/* line 63, ../sass/_fontello.sass */
.icon-search:before {
  content: "\e804";
}

/* '' */
/* line 68, ../sass/_fontello.sass */
.icon-download-cloud:before {
  content: "\e805";
}

/* '' */
/* line 73, ../sass/_fontello.sass */
.icon-quote-left:before {
  content: "\e806";
}

/* '' */
/* line 78, ../sass/_fontello.sass */
.icon-quote-right:before {
  content: "\e807";
}

/* '' */
/* line 83, ../sass/_fontello.sass */
.icon-behance:before {
  content: "\e808";
}

/* '' */
/* line 88, ../sass/_fontello.sass */
.icon-behance-squared:before {
  content: "\e809";
}

/* '' */
/* line 93, ../sass/_fontello.sass */
.icon-bitbucket:before {
  content: "\e80a";
}

/* '' */
/* line 98, ../sass/_fontello.sass */
.icon-bitbucket-squared:before {
  content: "\e80b";
}

/* '' */
/* line 103, ../sass/_fontello.sass */
.icon-git-squared:before {
  content: "\e80c";
}

/* '' */
/* line 108, ../sass/_fontello.sass */
.icon-doc:before {
  content: "\e80d";
}

/* '' */
/* line 113, ../sass/_fontello.sass */
.icon-docs:before {
  content: "\e80e";
}

/* '' */
/* line 118, ../sass/_fontello.sass */
.icon-doc-text:before {
  content: "\e80f";
}

/* '' */
/* line 123, ../sass/_fontello.sass */
.icon-phone:before {
  content: "\e810";
}

/* '' */
/* line 128, ../sass/_fontello.sass */
.icon-phone-squared:before {
  content: "\e811";
}

/* '' */
/* line 133, ../sass/_fontello.sass */
.icon-calendar:before {
  content: "\e812";
}

/* '' */
/* line 138, ../sass/_fontello.sass */
.icon-calendar-empty:before {
  content: "\e813";
}

/* '' */
/* line 143, ../sass/_fontello.sass */
.icon-volume-up:before {
  content: "\e814";
}

/* '' */
/* line 148, ../sass/_fontello.sass */
.icon-down-open:before {
  content: "\e815";
}

/* '' */
/* line 153, ../sass/_fontello.sass */
.icon-up-open:before {
  content: "\e816";
}

/* '' */
/* line 158, ../sass/_fontello.sass */
.icon-angle-double-right:before {
  content: "\e817";
}

/* '' */
/* line 163, ../sass/_fontello.sass */
.icon-facebook:before {
  content: "\e818";
}

/* '' */
/* line 168, ../sass/_fontello.sass */
.icon-facebook-squared:before {
  content: "\e819";
}

/* '' */
/* line 173, ../sass/_fontello.sass */
.icon-gplus:before {
  content: "\e81a";
}

/* '' */
/* line 178, ../sass/_fontello.sass */
.icon-gplus-squared:before {
  content: "\e81b";
}

/* '' */
/* line 183, ../sass/_fontello.sass */
.icon-google:before {
  content: "\e81c";
}

/* '' */
/* line 188, ../sass/_fontello.sass */
.icon-linkedin-squared:before {
  content: "\e81d";
}

/* '' */
/* line 193, ../sass/_fontello.sass */
.icon-skype:before {
  content: "\e81e";
}

/* '' */
/* line 198, ../sass/_fontello.sass */
.icon-tumblr:before {
  content: "\e81f";
}

/* '' */
/* line 203, ../sass/_fontello.sass */
.icon-tumblr-squared:before {
  content: "\e820";
}

/* '' */
/* line 208, ../sass/_fontello.sass */
.icon-twitter-squared:before {
  content: "\e821";
}

/* '' */
/* line 213, ../sass/_fontello.sass */
.icon-twitter:before {
  content: "\e822";
}

/* '' */
/* line 218, ../sass/_fontello.sass */
.icon-vimeo-squared:before {
  content: "\e823";
}

/* '' */
/* line 223, ../sass/_fontello.sass */
.icon-youtube:before {
  content: "\e824";
}

/* '' */
/* line 228, ../sass/_fontello.sass */
.icon-youtube-squared:before {
  content: "\e825";
}

/* '' */
/* line 233, ../sass/_fontello.sass */
.icon-youtube-play:before {
  content: "\e826";
}

/* '' */
/* line 238, ../sass/_fontello.sass */
.icon-git:before {
  content: "\e827";
}

/* '' */
/* line 243, ../sass/_fontello.sass */
.icon-github-squared:before {
  content: "\e828";
}

/* '' */
/* line 248, ../sass/_fontello.sass */
.icon-ok:before {
  content: "\e829";
}

/* '' */
/* line 253, ../sass/_fontello.sass */
.icon-ok-squared:before {
  content: "\e82a";
}

/* '' */
/* line 258, ../sass/_fontello.sass */
.icon-cancel:before {
  content: "\e82b";
}

/* '' */
/* line 263, ../sass/_fontello.sass */
.icon-cancel-circled:before {
  content: "\e82c";
}

/* '' */
/* line 268, ../sass/_fontello.sass */
.icon-cancel-circled2:before {
  content: "\e82d";
}

/* '' */
/* line 273, ../sass/_fontello.sass */
.icon-plus:before {
  content: "\e82e";
}

/* '' */
/* line 278, ../sass/_fontello.sass */
.icon-credit-card:before {
  content: "\e82f";
}

/* '' */
/* line 283, ../sass/_fontello.sass */
.icon-dollar:before {
  content: "\e830";
}

/* '' */
/* line 288, ../sass/_fontello.sass */
.icon-pied-piper-squared:before {
  content: "\e831";
}

/* '' */
/* line 293, ../sass/_fontello.sass */
.icon-github:before {
  content: "\e832";
}

/* '' */
/* line 298, ../sass/_fontello.sass */
.icon-linkedin:before {
  content: "\e833";
}

/* '' */
/* line 303, ../sass/_fontello.sass */
.icon-pinterest-circled:before {
  content: "\e834";
}

/* '' */
/* line 308, ../sass/_fontello.sass */
.icon-pinterest-squared:before {
  content: "\e835";
}

/* '' */
/* line 313, ../sass/_fontello.sass */
.icon-reddit:before {
  content: "\e836";
}

/* '' */
/* line 318, ../sass/_fontello.sass */
.icon-soundclowd:before {
  content: "\e837";
}

/* '' */
/* line 323, ../sass/_fontello.sass */
.icon-trello:before {
  content: "\e838";
}

/* '' */
/* line 328, ../sass/_fontello.sass */
.icon-wordpress:before {
  content: "\e839";
}

/* '' */
/* line 333, ../sass/_fontello.sass */
.icon-yahoo:before {
  content: "\e83a";
}

/* '' */
/* line 7, ../sass/sw-header-menu-styles.sass */
.group:after {
  content: "";
  display: table;
  clear: both;
}
